.pacman{
	width: 0;
	height:  0;
	border-right: 60px solid transparent;
	border-top: 60px solid yellow; 
	border-left: 60px solid yellow;
	border-bottom: 60px solid yellow;
	border-top-left-radius: 60px;
	border-top-right-radius: 60px;
	border-bottom-left-radius: 60px;
	border-bottom-right-radius: 60px; 
}

.pacman:hover{
	width: 0;
	height:  0;
	border-right: 60px solid yellow;
	border-top: 60px solid yellow; 
	border-left: 60px solid yellow;
	border-bottom: 60px solid yellow;
	border-top-left-radius: 60px;
	border-top-right-radius: 60px;
	border-bottom-left-radius: 60px;
	border-bottom-right-radius: 60px; 
	transition-duration: 0.5s;
}