*{
	margin: 0;	
}
.padre{
	position: absolute;
	background: green;
	width: 1000px;
	height: 1000px;
}

.hijo{
	position: inherit;
	color: #fff;
}

.hijo2{
	position: relative;
	color: #fff;
	top: 60px;
}