*{
	margin: 0;
	padding: 0;
}

.col{
	width: 20%;
	display: inline-block;
	margin-left:7%;
	padding: 2%;
	margin-top:20%; 
	margin-bottom: 20%;
	background: grey;
}

img{
	width: 100%;
}

@media(max-width: 780px){
	.col{
		width: 60%;
		margin-left: 20%;
		background: green;
		font-size: 0.5em;
		display: block;
	}

	.medio{
		position: relative;
		top:400px;
	}
	.alto{
		position: relative;
		bottom: 300px;
	}
}